/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


/* cyan color:
  #00838F
  rgb(0,131,143)
*/

nav ul a,
nav .brand-logo {
  color: #444;
}

nav .brand-logo, nav .brand-logo img {
  height: 100%;
}
nav .brand-logo img {
  padding: .5rem 0;
}
nav ul, ul#nav-mobile {
  padding-left: 0;
  list-style-type: none;
}
nav ul li {
 list-style-type: none; 
}

p {
  line-height: 2rem;
}

#intro {
  background-image: url("../assets/img/circles.jpg");
  background-size: cover;
}
#intro img {
  border-radius: 10px;
}
#portfolio h5 {
  margin-top: 0;
}
@media only screen and (max-width: 600px) {
  #portfolio h5 {
    margin-top: 1rem;
    text-align: center;
  }
  #portfolio img {
    max-width: 50%;
    margin: 0 auto;
    display: block;
  }
  #skills ul {
    list-style: none;
    text-align: center;
    padding: 0;
  }
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }
  .parallax img {
    width: 100%;
  }
  .parallax-container h1, #intro h3, .parallax-container h5 {
    text-shadow: 1px 1px 4px black
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 20%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.sidenav-overlay {
  z-index: 998;
}